# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section, please see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = jobs_spider.settings

[deploy]
project = jobs_spider
